@font-face {
  font-family: MAIN;
  src: url('@/assets/font/Songti.ttc');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: NAME;
  src: url('@/assets/font/方正苏新诗柳楷简体.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}
